<?xml version="1.0" encoding="utf-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <servlet>
        <servlet-name>FetchNews</servlet-name>
        <servlet-class>org.jush.gaelab.FetchNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchNews</servlet-name>
        <url-pattern>/cron/fetchNews</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!-- This should be uncommented when app is deployed --> 
<!-- 
  <security-constraint>
        <web-resource-collection>
           <web-resource-name>restricted urls</web-resource-name>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    -->

    <servlet>
        <servlet-name>TokenServlet</servlet-name>
        <servlet-class>org.jush.gaelab.TokenServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TokenServlet</servlet-name>
        <url-pattern>/getToken</url-pattern>
    </servlet-mapping>
</web-app>
